* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #F4F6FE;
  text-shadow: 2px 2px 4px #000000;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #D6D8DD;
  text-align: center;
}

h1 {
  font-size: 80px;
  font-stretch: ultra-expanded;
  letter-spacing: 1px;

}

h2 {
  font-size: 40px;
  font-stretch: ultra-expanded;
  letter-spacing: 1px;
  animation-name: highlight;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

p {
  /* width: 100px; */
  font-weight: bolder;
  font-size: 25px;
}

.game-board {

  /* background-color: #3C3F49; */
  background: linear-gradient(to bottom, #3C3F49, #53565C), fixed;

  text-align: center;
    /* height: 800px; */
  margin: 25px;
  padding: 25px;
  border: #F4F6FE 4px solid;

  border-radius: 25px;

}

.sub-heading {

}

.container {
  background-color: #A5A8B0;
  padding: 20px;
  margin-top: 30px;
  border: #F4F6FE 1px solid;
  border-radius: 25px;

}

.player-container {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  /* margin:auto; */
  /* padding: 25px; */
}

.p-one {
  margin-bottom: 30px
}
.p-two {
  margin-top: 30px
}

.game-grid {
  background: #A5A8B0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  width: 400px;
}

.game-square {
  height: 100px;
  weight: 100px;
  background-color: #3C3F49;
  cursor: pointer;
  transition: 0.2s;
  font-size: 100px;
  line-height: 100px;
  color: #9D001F;
}

.game-square:hover {
  background-color: #777A84;
}

@keyframes highlight {
  0% {color: #F4F6FE;}
  50% {color: #FFF19A;}
  100% {color: #F4F6FE;}
}
