* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




.game-board {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 400px;
  padding: 5px;
  border: 1px solid red;


}
.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.square {
  display: block;
  width: 125px;
  height: 125px;
  border: 1px solid red;
}


/*
.row {
  height: 100px;
}


.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column:hover {
  background-color: white;
}

.line-horizontal {
  border-bottom: 10px solid black;
}

.line-vertical {
  border-right: 10px solid red;
} */

/* .player-two-right {
  height: 100%;
  width: 30%;
} */
